// FOOTER

.sectionFooter {
  margin: 100px 0;

  &Wrapper {

    &Socials {
      margin: 0;
      padding: 0;
      width: 50%;
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        margin-top: 20px;
        padding: 0 10px;
      }
    }

    &Links {
      text-align: center;
      ul {
        display: inline-block;
        text-align: left;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-top: 10px;

          a {
            text-decoration: none;
            color: #ffffff;

            &:hover {
              color: #118DA8;
            }
          }
        }
      }
    }

    &SocialMedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
          margin-right: 17px;
        }
      }
    }
  }
}

// / FOOTER